body {
  width: 500px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* CSS index.html */
.card {
  display: flex;
  /* justify-content: flex-start; */
  /* border: 1px solid black; */
}

.card img {
  width: 85px;
  height: 85px;
  object-fit: cover;
}

.content {
  padding-top: 10px;
  border-bottom: 1px solid gray;
  margin: 0 2rem;
}

.content span {
  font-weight: 400;
  font-size: 20px;
}

.icon {
  padding: 20px 5px 10px;
  border-bottom: 1px solid gray;
  width: fit-content;
  cursor: pointer;
  margin-left: 5rem;
}

.content small {
  color: gray;
  font-size: 15px;
}

/* CSS TASK movie.html */

.header {
  background-color: #f2f2f2;
  border: 0.5px solid #e1e4e8;
  display: flex;
}

.header .icon_head {
  margin: auto 0;
  cursor: pointer;
}

.header .icon_head span {
  color: #3880ff;
  font-size: 20px;
  position: relative;
  bottom: 9.5px;
  right: 7px;
}

.header .text_head {
  margin: 0 6rem;
  position: relative;
  bottom: 5px;
}

.main .thumbnail {
  text-align: center;
  background-color: #fcfcfc;
  padding-bottom: 10px;
}

.main .thumbnail img {
  padding-top: 20px;
  width: 250px;
  object-fit: cover;
}

.main .thumbnail span {
  margin: 0;
  color: gray;
  padding: 0;
  font-size: 17px;
  font-weight: normal;
}

.main .overview h3 {
  padding: 0 20px;
  margin: 0;
  background-color: #e6e6e6;
  line-height: 1.5;
}

.main .isi_txt {
  padding: 5px 20px;
  background-color: #fcfcfc;
}

.main .isi_txt p,
.writer {
  font-size: 20px;
}

.main .isi_txt span {
  color: gray;
  font-size: 15px;
}

.main .isi_txt .writer,
.cast {
  display: grid;
  grid-template-columns: 50% 50%;
}
